<% include ../layouts/header %>
<header class="jumbotron">
    <h1>Make a new Comment to <%= campground.name %></h1>
</header>
<div class="container">
<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
  <div class="form-group">
    <label for="text">Text</label>
    <input type="text" class="form-control" id="text" name="comment[text]" placeholder="Your Comment here">
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<% include ../layouts/footer %>